/* od ni buh element noloolno */
* {
    margin: 0;
    font-family: sans-serif;
  }   

  body {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
   background-image: url(./https://project-3-todo-app.vercel.app/2880x1800-px-Earth-minimalism-Solar-System-Sun-1200285-wallhere.com.jpg);
   background-size: cover;
  }
  .main-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
  }
  #head-title{
    margin-top: 40px;
    position: absolute;
    animation: fill-animation .5s ease forwards 2.5s;
  }
  @keyframes fill-animation {
    from{
      fill: transparent; /* Эхлэх үед өнгө нь тунгалаг байна */
    }
    to{
      fill: white; /* Анимацын төгсгөлд өнгө нь цагаан болно */
    }
    
  }
  #head-title path:nth-child(1){
   stroke-dasharray: 800px;
   stroke-dashoffset: 800px;
   animation: line-animation 2s ease forwards 2.1s;
  }
  #head-title path:nth-child(2){
   stroke-dasharray: 800px;
   stroke-dashoffset: 800px;
   animation: line-animation 2s ease forwards 1.8s;
  }
  #head-title path:nth-child(3){
    stroke-dasharray: 800px;
    stroke-dashoffset: 800px;
    animation: line-animation 2s ease forwards 1.5s;
  }
  #head-title path:nth-child(4){
    stroke-dasharray: 800px;
    stroke-dashoffset: 800px;
    animation: line-animation 2s ease forwards 1.2s;
  }
  #head-title path:nth-child(5){
    stroke-dasharray: 800px;
    stroke-dashoffset: 800px;
    animation: line-animation 2s ease forwards .9s;
  }
  #head-title path:nth-child(6){
    stroke-dasharray: 800px;
    stroke-dashoffset: 800px;
    animation: line-animation 2s ease forwards .6s;
  }
  #head-title path:nth-child(7){
    stroke-dasharray: 800px;
    stroke-dashoffset: 800px;
    animation: line-animation 2s ease forwards .3s;
  }
  #head-title path:nth-child(8){
    stroke-dasharray: 800px;
    stroke-dashoffset: 800px;
    animation: line-animation 2s ease forwards ;
  }
  @keyframes line-animation {
    to{
      stroke-dashoffset: 1;
    }
    
  }
   
  
  .container {
    margin-top: 150px;
    display: flex;
    gap: 16px;
    min-width: 1280px;
    height: 100vh;
    justify-content: space-between;
  }
  .box {
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 8px;
    width: 23%;
    height: fit-content;
  }
  .title {
    display: flex;
  }
  .box-head {
    font-size: 20px;
    padding: 8px;
  }
  .task-counter {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addTask {
    margin: 8px;
    padding: 8px;
    border-radius: 6px;
    
  
    background-color: aliceblue;
    display: flex;
    gap: 5%;
    justify-content: space-between;
  }
  
  .done {
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    height: fit-content;
    display: flex;
    align-items: center;
    width: 16px;
  }
  .delete,
  .edit {
    cursor: pointer; /* Курсор дарахад бэлэн байгаа мэт харагдуулна */
    border-radius: 50%;
    padding: 3px;
    height: fit-content; /* Элементийн өндрийг доторх контентыг багтаах хэмжээнд автоматаар тохируулна. */
  }
  .box-main-done .done {
    background-color: rgb(225, 225, 227);
    display: flex;
    align-items: center;
    width: 16px;
  }
  .done:hover {
    background-color: rgb(225, 225, 227);
  }
  .delete:hover {
    background-color: rgb(225, 225, 227);
  }
  .edit:hover {
    background-color: rgb(225, 225, 227);
  }
  .action {
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .details {
    width: 74%;
  }
  #box-button {
    cursor: pointer;
    display: flex;
    gap: 5%;
    margin: 8px;
    padding: 8px;
    border-radius: 6px;
  }
  #box-button:hover {
    background-color: rgb(180, 180, 184);
  }
  .details > h4 {  /* details доторх h4 загварчилж байна */
    margin-bottom: 8px;
    word-wrap: break-word; /* Бичсэн зүйл хэтэрхий урт байвал дараагийн мөр лүү буулгана. */
  }
  .details > p {
    margin-bottom: 8px;
    border: border-box;
    word-wrap: break-word;
  }
  .priority {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 12px;
  }
  
  .addTask-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 0;
    justify-content: center;
    align-items: center;
    /* display: flex; */
  }
  .hide {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  .flex {
    display: flex;
  }
  .addTask-box {
    background-color: bisque;
    width: 400px;
    height: 500px;
    padding: 15px !important;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
  }
  #title-input {
    width: 99%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgrey;
  }
  #description-input {
    width: 99%;
    height: 90px;
    border-radius: 8px;
    border: 1px solid lightgrey;
  }
  #status-select {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgrey;
  }
  #priority-select {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgrey;
  }
  .addTask-box > select {
    width: 100%;
    height: 50px;
  }
  #submit > button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .display-none {
    display: none;
  }
  #task-id {
    display: none;
  }
 
  
